.row
  .span4.biocontainer
    .bioimg
      = image_tag 'profile.jpg'
    .dcv
      = link_to "Download my Curriculum Vitae", cv_path, method: :post
  .span4.bioabout
    %h3 Quick Bio
    %p
      I am a Ph.D. student at <a href="www.cmu.edu">CMU</a>'s <a href="http://hcii.cmu.edu">HCII</a>, where I am advised by <a href="http://www.cs.cmu.edu/~jasonh">Jason Hong</a> and <a href="http://www.lauradabbish.com">Laura Dabbish</a>. I create quantitative models of user behavior and use these models to create tools that facilitate the use of digital resources in secure and privacy preserving ways.
    %p
      I am a NDSEG fellow and a Qualcomm Innovation Fellow. I have been fortunate to receive a best paper award at UbiComp'2013 and an honorable mention for the NSA's Best Scientific Cybersecurity Paper. My work has been covered by The Atlantic, The Huffington Post, The Financial Times, Slate and other media outlets.
  .span4
    %h3 Quick Updates
    .bioupdates
      = render @updates 
.row
  .span12.biopubs
    %p
      You can also check out my profile on  
      = link_to 'Google Scholar.', "http://scholar.google.com/citations?user=laPvCf4AAAAJ&hl=en&oi=ao"
    - if @journal_papers.size > 0
      %h3 Journal Papers
      = render @journal_papers 
    - if @conference_papers.size > 0
      %h3 Conference Papers
      = render @conference_papers 
    - if @workshop_papers.size > 0
      %h3 Workshop Papers
      = render @workshop_papers 
