!!!
- if @static_page
  = yield
- else
  %html
    %head
      %title Personal
      = stylesheet_link_tag    "application", "token-input-facebook"
      = javascript_include_tag "application", "jquery.tokeninput"
      = javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
      - if @plus_css
        - @plus_css.each do |css|
          = stylesheet_link_tag css
      - if @plus_js
        - @plus_js.each do |js|
          = javascript_include_tag js
      = csrf_meta_tags

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30333530-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %body{:class => find_named_routes.join(" ")}
      .container
        .row.bottom-marg
          .span2
            %a{:href => "#"}
              %img{:src => "/assets/name-header.png"}/
          .span8.header
            %img{:src => "/assets/middle-header.png"}/
          .span2
            %img{:src => "/assets/right-header.png"}/
        .navbar
          .navbar-inner
            .container
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              .nav-collapse.collapse
                %ul.nav
                  %li{:class => (controller_name.downcase == 'home' ? 'active' : 'inactive')}= link_to 'Home', root_path
                  %li.divider-vertical
                  %li{:class => (controller_name.downcase == 'papers' ? 'active' : 'inactive')}= link_to 'Papers', papers_path
                  %li.divider-vertical
                  %li{:class => (controller_name.downcase == 'collaborators' ? 'active' : 'inactive')}= link_to 'Collaborators', collaborators_path
                .navsearch
                  = form_tag({:controller => 'search', :action => 'index'}, {:class => 'navbar-search pull-right'}) do
                    = text_field_tag :query, params[:query], :class => 'search-query', :id => 'search_field', :placeholder => 'Search',  :autocomplete => false
              / /.nav-collapse
        = yield
        %hr/
        .row
          .span8.ft
            %p="\u00A9 Sauvik Das 2009-#{Time.now.year}"
          #social-media.span4.ft
            %a{:href => "http://facebook.com/sauvikdas"}
              %img{:height => "50px", :src => "/assets/facebook-icon.png", :width => "50px"}/
            %a{:href => "http://twitter.com/scyrusk"}
              %img{:height => "50px", :src => "/assets/twitter-icon.png", :width => "50px"}/
            %a{:href => "https://plus.google.com/116253484763753655451"}
              %img{:height => "50px", :src => "/assets/g+icon.png", :width => "50px"}/
            %a{:href => "http://www.linkedin.com/pub/sauvik-das/1b/66a/71b"}
              %img{:height => "50px", :src => "/assets/linkedin-icon.png", :width => "50px"}/
            %a{:href => "https://github.com/scyrusk"}
              %img{:height => "50px", :src => "/assets/github.png", :width => "50px"}/
